[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flask = "*"
flask-migrate = "*"

[requires]
python_full_version = "3.8.13"
